// This file is used to define the color palette for the website. Not actually used
// https://colorhunt.co/palette/2135553e5879d8c4b6f5efe7
$bg_primary: #f9f7f7;   // Used for background
$bg_secondary: #dbe2ef; // Used for cards
$accent_1: #3f72af;  // Navbar, footer, etc
$accent_2: #112d4e; // Used for buttons, text, etc

$alert_success: #5aa469;
$alert_danger: #d9534f;
$alert_warning: #ffd966;

$light_grey: #E0E5EC;
$mid_grey: #888c8f;
$dark_grey: #333333;


// #213555 / #3e5879 / #d8c4b6 / #f5efe7
// Success: #4caf50 / #6cbf73
// Warning: #ffc107 / #e8b564
// Danger : #e57373 / #ff6f61
// Info   : #64b5f6 / #9ec8e8
