<nav class="navbar navbar-expand">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"
                {% if current_user %}
                {% if current_user.is_admin%}
                href="{{ url_for('admin_bp.dashboard') }}"
                {% else %}
                href="{{ url_for('student_bp.home') }}"
                {% endif %}
                {% else %}
                href=""
                {% endif %}
            >
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="VM Nexus Logo" width="auto" height="50" class="">
                <span class="navbar-brand-text">VM Nexus</span>
            </a>
        </div>
        <div class="d-flex align-items-center justify-items-center">
            <!-- Desplegable para perfil -->
            <div class="nav-item dropdown">
                {% if current_user %}
                <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{ current_user.nombre_usuario }}
                </a>

                <!-- Dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('main_bp.update_password', user_id=current_user.id) }}">
                            Cambiar contraseña
                        </a>
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('main_bp.logout') }}">Cerrar sesión</a></li>
                </ul>

                {% else %}
                <span class="navbar-brand"></span>
                {% endif %}

            </div>
        </div>
    </div>
</nav>
