{% extends 'base.html' %}

{% block title %}Actualizar Contraseña - VM Nexus{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="main-card">
        <h2 class="text-center">Actualizar Contraseña</h2>
        <form method="POST" action="{{ url_for('main_bp.update_password', user_id=current_user.id) }}">
            <div class="form-box mb-3">
                <label for="old_password" class="form-label">Contraseña actual</label>
                <input type="password" class="form-control" id="old_password" name="old_password" required>
            </div>
            <div class="form-box mb-3">
                <label for="new_password" class="form-label">Nueva contraseña</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="form-box mb-3">
                <label for="confirm_password" class="form-label">Confirmar contraseña</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="text-center">
                <button id="update-password-button" type="submit" class="button-custom btn btn-primary w-100">Actualizar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/update_password.js') }}"></script>
{% endblock %}
